##### 六个关节机械原点和编码器原点 codesys 
[] 
joints = Joint1 Joint2 Joint3 Joint4 Joint5 Joint6 Joint7 Joint8  
[Joint1]
encoder_deg	= 10.1176
mechanical_origin = 0
[Joint2]
encoder_deg	= 39.0857
mechanical_origin = 0
[Joint3]
encoder_deg	= 31.8252
mechanical_origin = 90
[Joint4]
encoder_deg	= -25.9027
mechanical_origin = 0
[Joint5]
encoder_deg	= -63.7465
mechanical_origin = 0
[Joint6]
encoder_deg	= -39.8352
mechanical_origin = 0
[Joint7]
encoder_deg = 0
mechanical_origin = 0
[Joint8]
encoder_deg = 0
mechanical_origin = 0
